<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DataBase Connection</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>store</servlet-name>
  <servlet-class>com.servlets.StoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>store</servlet-name>
  <url-pattern>/formdata</url-pattern>
  </servlet-mapping>
  
    <servlet>
  <servlet-name>viewServlet</servlet-name>
  <servlet-class>com.servlets.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>viewServlet</servlet-name>
  <url-pattern>/viewServlet</url-pattern>
  </servlet-mapping>
  
      <servlet>
  <servlet-name>updateServlet</servlet-name>
  <servlet-class>com.servlets.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>updateServlet</servlet-name>
  <url-pattern>/updateServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>updateServlet2</servlet-name>
  <servlet-class>com.servlets.UpdateServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>updateServlet2</servlet-name>
  <url-pattern>/updateServlet2</url-pattern>
  </servlet-mapping>
  
  
</web-app>